DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress

# Optional variables
DB_HOST=db
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://evan.dev
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

S3_UPLOADS_USE_MINIO=1
S3_UPLOADS_BUCKET=wp-uploads
S3_UPLOADS_KEY=minio
S3_UPLOADS_SECRET=minio123
S3_UPLOADS_BUCKET_URL='http://evan.dev:9000/wp-uploads'
